# Server

MONEY_TRACKER_REVERSE_PROXY_APP_PORT=4001

# Authorization Server

MONEY_TRACKER_REVERSE_PROXY_APP_AUTHORIZATION_SERVER_URL="http://192.168.0.0:4202"

# Discovery Server

MONEY_TRACKER_REVERSE_PROXY_APP_DISCOVERY_SERVER_URL="http://192.168.0.0:4101/eureka"