# Server

MONEY_TRACKER_AUTH_SERVER_APP_PORT=4202
MONEY_TRACKER_AUTH_SERVER_APP_URL="http://192.168.0.0:4001/auth"

# Admin

MONEY_TRACKER_AUTH_SERVER_APP_ADMIN_USER="admin"
MONEY_TRACKER_AUTH_SERVER_APP_ADMIN_USER="admin"

# Datasource

MONEY_TRACKER_AUTH_SERVER_APP_DB_URL="jdbc:postgresql://auth-server-db/auth_server"
MONEY_TRACKER_AUTH_SERVER_APP_DB_USER="admin"
MONEY_TRACKER_AUTH_SERVER_APP_DB_PASS="admin"