# Server

MONEY_TRACKER_AUTH_SERVER_DB_PORT=4201

# Admin

MONEY_TRACKER_AUTH_SERVER_DB_ADMIN_USER="admin"
MONEY_TRACKER_AUTH_SERVER_DB_ADMIN_PASS="admin"

# Database

MONEY_TRACKER_AUTH_SERVER_DB_DB_NAME="auth_server"